<button class="btn btn-primary w-100" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Menu</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">

    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-dark">
        <div>
            <a href="/dashboard">
                <p class=" leftStyle p-2">
                    Home
                </p>
            </a>

            <a href="/admissionDetails">
                <p class=" leftStyle p-2">
                    Admission Details
                </p>
            </a>

            <!-- <a href="">
                <p class="leftStyle p-2">
                    View Notes
                </p>
            </a>

            <a href="/addNotes">
                <p class=" leftStyle p-2">
                    Add Notes
                </p>
            </a> -->

            <a href="/viewContact">
                <p class="leftStyle p-2">
                    View Contacts
                </p>
            </a>

            <a href="/addTopper">
                <p class="leftStyle p-2">
                    Add Toppers
                </p>
            </a>

            <a href="/viewTopper">
                <p class="leftStyle p-2">
                    View Toppers
                </p>
            </a>
            <a href="/addQuestion">
                <p class="leftStyle p-2">
                    Add and View Questions
                </p>
            </a>
            <a href="/addBook">
                <p class="leftStyle p-2">
                    Add Book and View Book
                </p>
            </a>
            <a href="/addNotes">
                <p class="leftStyle p-2">
                    Add Notes and View Notes
                </p>
            </a>
            <a href="/addBatch">
                <p class="leftStyle p-2">
                    Add Batch and Manage Batch
                </p>
            </a>
        </div>
        <!-- </div> -->
    </div>
</div>