<link rel="stylesheet" href="./assests/admission.css">

<!-- ^^^^^^^^^^^^^^^^^^^^^^^ HEADER ^^^^^^^^^^^^^^^^^^^^^^^ -->
<!-- ^^^^^^^^^^^^^^^^^^^^^^^ HEADER ^^^^^^^^^^^^^^^^^^^^^^^ -->

<%- include('./common/header.ejs')%>

<!-- ^^^^^^^^^^^^^^^^^^^^^^^ HEADER ^^^^^^^^^^^^^^^^^^^^^^^ -->
<!-- ^^^^^^^^^^^^^^^^^^^^^^^ HEADER ^^^^^^^^^^^^^^^^^^^^^^^ -->


<div class="container mb-5">
    <div class="row ">
        <div class="col-12" style="height: 80px;"></div>
        
        <div class="col-12 text-center mt-3" >
            <form action="/contactUs" method="post" class="formStyle p-3">
                <h2 class="text-center">Contact Us</h2>
                <hr>
                <input type="text" name="fullname" class="w-50 p-1 my-2" placeholder="Your Name">

                <input type="email" name="email" class="w-50 p-1 my-2" placeholder="Your Email">

                <input type="tel" name="mobile" class="w-50 p-1 my-2" placeholder="Your Mobile">

                <textarea name="message" id="message" rows="6" class="w-50 p-1 my-2" placeholder="Your Message"></textarea>
                <br>
                <input type="submit" value="Send Message" class="p-2 btn btn-primary">
            </form>
        </div>
    </div>
</div>

<!-- ^^^^^^^^^^^^^^^^^^^^^^ FOOTER ^^^^^^^^^^^^^^^^^^^^^^^^ -->
<!-- ^^^^^^^^^^^^^^^^^^^^^^ FOOTER ^^^^^^^^^^^^^^^^^^^^^^^^ -->

<%- include('./common/footer.ejs')%>

<!-- ^^^^^^^^^^^^^^^^^^^^^^ FOOTER ^^^^^^^^^^^^^^^^^^^^^^^^ -->
<!-- ^^^^^^^^^^^^^^^^^^^^^^ FOOTER ^^^^^^^^^^^^^^^^^^^^^^^^ -->