<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-md-4" style="height: 350px;">

            <div>
                <p class="text-white fs-4 fw-bold ms-5 mt-5 ">Contact</p>
                <p class="text-white ms-5 ">
                    <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i> 
                    Address : Ram Rajya more, Siwan, Bihar 841226
                </p>

                <p class="text-white ms-5 ">
                    <i class="fa-solid fa-globe" style="color: #ffffff;"></i>
                    Website : <a href="#" class="text-info">Website Link</a>
                </p>

                
                <p class="text-white ms-5 ">
                    <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
                    Phone : 7368061992, 7003161317
                </p>

                <div class="ms-5">

                    <a href="" class="text-decoration-none">
                        <i class="fa-brands fa-instagram fs-4" style="color: #ffffff;"></i>
                    </a>

                    <a href="" class="text-decoration-none">
                        <i class="fa-brands fa-youtube ms-2 fs-4" style="color: #ffffff;"></i>
                    </a>

                    <a href="whatsapp://send?phone=PHONENUMBER&text=YOURMESSAGE" class="text-decoration-none">
                        <i class="fa-brands fa-whatsapp ms-2 fs-4" style="color: #ffffff;"></i>
                    </a>
                    
                </div>
            </div>

        </div>

        <div class="col-md-4 text-center pt-md-5 ">
            <img src="..//images/IAMLogo.png" alt="" style="height:100px;">
            <p class="text-white fw-bold fs-3">
                Ideal Arts Mantra
            </p>
            <p class="text-white">
                &copy; All Rights Reserved
            </p>
        </div>

        <div class="col-md-4 text-center">
            <p class="text-white fs-4 fw-bold ms-5 mt-5 ms-auto">Quick Links</p>
            <p>
                <a href="/" class="text-decoration-none text-white">Home</a>
            </p>
            <p>
                <a href="/admission" class="text-decoration-none text-white">Admission</a>
            </p>
            <p>
                <a href="/userProfile" class="text-decoration-none text-white">Profile</a>
            </p>
            <p>
                <a href="/about" class="text-decoration-none text-white">About</a>
            </p>
            <p>
                <a href="/contact" class="text-decoration-none text-white">Contact</a>
            </p>
        </div>
    </div>
</div>

<script src="../assests/admission.js"></script>