@media only screen and (max-width:995px){
    .navbar-collapse{
        background-color: rgb(232, 238, 255);
        margin-top: -8px;
    }

}


@media only screen and (max-width:1024px){
    .toggle-password{
    
    right:22%;
   
    }
}

@media only screen and (max-width:768px){
    .toggle-password{
  
    right:10%;
   
    }
}

